nav ul {
  margin: 0;
	display: flex;
	flex-wrap:  wrap;
}
nav a {
	transition: 0.1s;
	color: white;
  font-size: 1.5em;
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  text-decoration: none;
	background-color: rgb(61, 53, 139);
	display: block;
	padding: 2rem;
}
nav li {
	list-style: none;
    margin: 2em;
}
body {
  margin: 0;
	width:100vw;
	overflow-x: hidden;
}
main {
  height: 100vh;
  background-image: url("../images/International_Space_Station.jpg");
  background-size: 100%;
}
form {
  max-width: 35em;
  padding: 1em;
  padding-top: 2em;
  background-color: white;
}
header {
  background-image: linear-gradient(90deg,#77A7CA 11px, transparent 0), 
  linear-gradient(90deg,rgba(67, 70, 48, 0.75) 23px, transparent 0), 
  linear-gradient(90deg,#BEBEBE 41px, transparent 0);
  background-size: 41px 100%, 61px 100%, 83px 100%;
}
section {
	/*max-width: 35em;*/
	width: 100%;
    height: 100%;
	transition:1s;
	position: absolute;
	-webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   transform: translateX(200em);
}
article a {
	text-decoration: none;
	color: black;
}
article:hover {
	background-color: rgba(233,233,233,0.5);
}
/*section {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}*/

#template-movies {
  padding: 1em;
	transform-origin: top;
	background-color: rgb(255,255,255);
	width: 35em;
	min-height:150em;
	z-index: -5;
}
@keyframes slideDown{
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(500);
    opacity: 1;
  }
}
.load-movies {
	animation-name: slideDown;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction:  normal;
    animation-fill-mode: forwards;
}
.hidden {
	opacity: 0;
	z-index: -2;
}
.show {
  padding-left: 2rem;
  padding-right: 2rem;
	-webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   transform: translateX(0);
}
section#isstracker {
	padding-left: 0;
}
.notransition {
	transition:none;
}
input {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 1.5em;
}
#map-canvas{
  width: 100%;
  height: 100%;
  /*max-width: 40em;*/
}
a:active {
	background-color: green;
	transform: translateY(5px);
}

/*http://projects.lukehaas.me/css-loaders/*/
.loader,
.loader:before,
.loader:after {
  background: grey;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}

@media (max-width: 35.625em) { /* 570px */
  html {
    font-size: 0.8rem;
  }
  nav a {
    padding: 1rem;
  }
  nav li {
    margin: 1rem;
  }
}